*{
    box-sizing: border-box;
}

body{
    color: #fff;
}

main{
    height: 800px;
    background-color: #4682b4;
}

#messages{
    width: 100%;
    height: 720px;
    padding: 10px;
    overflow: auto;
}

.sendMessage{
    width: 100%;
    height: 74px;
    border-top: #000 solid 3px;
    padding-left: 10px;
    padding-top: 7px;
    background: linear-gradient(90deg, rgb(0, 109, 191) 0%, rgba(86,0,184,1) 100%);
    color: #fff;
}

#sendMessage
{
    resize : none;
    width: 99%;
    height: 30px;
    margin-top: 5px;
}

#right{
    float: right;
    width: 20%;
    height: 800px;
    border: 3px solid #000;
    border-left: none;
    text-align: center;
}
#left{
    float: left;
    width: 80%;
    height: 800px;
    border: 3px solid #000;
}

.displayMessages {
    padding: 10px 20px;
    margin: 0 -10px 0 -10px;
}

.displayMessages:nth-child(odd){
    background: linear-gradient(90deg, rgb(0, 109, 191) 0%, rgba(86,0,184,1) 100%);
    color: #fff;
}

/*USER LIST*/
.topUserList{
    height: 720px;
}

#h3{
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}

#buttonNewUsername{
    height: 74px;
    width: 100%;
    background-color: rgba(86,0,184,1);
    border-top: 3px solid #000;
}

#newUsername{
    padding-top: 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.usersNames{
    font-size: 20px;
    padding: 1px;
}

#newAccount{
    margin-bottom: 25px;
}

#inputNewNickname{
    width: 90%;
}

#confirmer{
    font-size: 12px;
    background-color: steelblue;
    color: #ffffff;
    border-color: steelblue;
    margin-top: 4px;
}

#hideChange {
    margin-right: 5px;
}

@media (max-width: 720px) {
    #left{
        width: 70%;
    }
     #right{
         width: 30%;
     }
     #h3{
         font-size: 20px;
     }
     #newUsername{
         text-transform: capitalize;
     }
     #hideChange{
         display: none;
     }
}